* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.content-box {
    height: 100%;
    width: 100%;
}

.gameboard {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

}

.ship-btn {
    background-color: lightblue;
}

.ship-btn,
.board-btn {
    width: 100%;
    height: 100%;
}